modules = ["python-3.12", "web", "nodejs-20"]
run = "streamlit run app.py"

[nix]
channel = "stable-25_05"
packages = ["arrow-cpp", "cacert", "cairo", "cargo", "chromedriver", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "lcms2", "libcxx", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "qhull", "rustc", "tcl", "tk", "xsimd", "zlib"]

[deployment]
run = ["sh", "-c", "streamlit run app.py"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 37668530
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[workflows.workflow]]
name = "Run Neuron Bifurcations App"
author = 37668530
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd apps/neuron_bifurcations && streamlit run streamlit_app.py --server.port=8501 --server.address=0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
