<!-- Homepage with links -->
{% extends "base.html" %}

{% block title %}Lauren Shriver - Portfolio{% endblock %} 

{% block content %}
<!-- About Me Section -->
 <div class="projects-section" style="text-align: center;">
    <div class="feature-box" style="text-align: center;">
        <div class="feature-box-content" style="text-align: center;">

            <div class="contact-links" style="margin-bottom: 1rem; display: flex; justify-content: center; width: 100%; text-align: center;">
                <a href="https://www.linkedin.com/in/lshriver" target="_blank">
                    <span class="emoji">👥</span>
                    <span class="link-text">LinkedIn</span>
                </a>   
                <a href="https://github.com/lshriver" target="_blank"><span class="emoji">💻</span> <span class="link-text">GitHub</span></a>
                <a href="mailto:lshriver@protonmail.com"><span class="emoji">📧</span> <span class="link-text">Email</span></a>
                <a href="https://lshriver.github.io/myCV/" target="_blank"><span class="emoji">📄</span> <span class="link-text">CV</span></a>
                <a href="https://orcid.org/0000-0003-4759-5577" target="_blank"><span class="emoji">🔗</span> <span class="link-text">ORCID Profile</span></a>
            </div>

            <p style="color: #c5f8ff; text-align: center;">
                With an M.S. in Computational Biology and a passion for bridging scientific systems and human understanding, I specialize in modeling complex phenomena across neuroscience, chemistry, and AI. Whether designing rigorous math content for machine learning models or modeling enzyme kinetics with MATLAB, I bring clarity, creativity, and a deep systems-thinking approach to every challenge. I'm seeking research-driven opportunities where I can continue building tools, models, and frameworks that reveal the hidden logic behind complex natural systems.
            </p>

        </div>
    </div>
 </div>

<!-- Projects Section -->
<div style="text-align: center;">
    <h2 class="gradient_text1" style="
        display: inline-block;
        margin: 3rem auto 2rem;
        font-size: 2.5rem;
        padding: 1rem;
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.7));
        ">
        Educational Apps     
    </h2>
</div>

<div class="projects-section">
    <div class="card-row">
        <!-- Bifurcation App -->
        <div class="feature-box">
            <div class="feature-box-content">
                <h3 class="gradient_text1">
                    Neuron Model Analysis
                </h3>
                <div class="tooltip-content">
                    <h4 style="color: #4facfe;">
                        Technologies Used
                    </h4>
                    <div>
                        <span class="tech-tag">Python</span>
                        <span class="tech-tag">Neuroscience</span>
                        <span class="tech-tag">Nonlinear ODEs</span>
                    </div>
                </div>
            </div>
            <p style="color: #cce4e7;">
                View phase portraits, bifurcation plots, and more for three different neuron models.
            </p>
            <a href="https://neuronmodels.streamlit.app" class="btn btn--color-9">
                View App
            </a>
            <div class="tech-icons">
                <div class="tech-icon" data-tech="python">
                    <span class="tech-icon-tooltip">
                        Python
                    </span>
                </div>
                <div class="tech-icon" data-tech="neuroscience">
                    <span class="tech-icon-tooltip">
                        Neuroscience
                    </span>
                </div>
                <div class="tech-icon" data-tech="nonlinear_dynamics">
                    <span class="tech-icon-tooltip">
                        Nonlinear ODEs
                    </span>
                </div>
            </div>
         </div>
        <!-- Thermodynamics and PCA App -->
        <div class="feature-box">
            <div class="feature-box-content">
                <h3 class="gradient_text1">
                    Boltzmann Statistics and PCA
                </h3>
                <div class="tooltip-content">
                    <h4 style="color: #4facfe;">
                        Technologies Used
                    </h4>
                    <div>
                        <span class="tech-tag">Python</span>
                        <span class="tech-tag">Data Analysis</span>
                        <span class="tech-tag">Stat Mechanics</span>
                    </div>
                </div>
            </div>
            <p style="color: #cce4e7;">
                Simulation of an integer number of chemical species and energy levels. Species are assigned energy levels based on Boltzmann statistics.
            </p>
            <a href="{{ url_for('thermal_pca') }}" class="btn btn--color-9">
                View App
            </a>
            <div class="tech-icons">
                <div class="tech-icon" data-tech="python">
                    <span class="tech-icon-tooltip">
                        Python
                    </span>
                </div>
                <div class="tech-icon" data-tech="data">
                    <span class="tech-icon-tooltip">
                        Principal Component Analysis
                    </span>
                </div>
                <div class="tech-icon" data-tech="thermodynamics">
                    <span class="tech-icon-tooltip">
                        Stat Mechanics
                    </span>
                </div>
            </div>
         </div>
        <!-- Kuramoto App -->
    </div>
</div>

{% endblock %}